In [2]:
%load_ext sql
%sql sqlite:///AuctionBase

'Connected: @AuctionBase'

In [3]:
%%sql
SELECT *
FROM Items

 * sqlite:///AuctionBase
Done.

[]

In [13]:
%%sql
SELECT *
FROM Sellers

 * sqlite:///AuctionBase
Done.

[]

In [9]:
%%sql
SELECT *
FROM Bidders

 * sqlite:///AuctionBase
Done.

[]

In [10]:
%%sql
SELECT *
FROM Bid

 * sqlite:///AuctionBase
Done.

[]

In [8]:
%%sql
SELECT *
FROM CategoryUserID

 * sqlite:///AuctionBase
Done.

[]